.footer {
  position: absolute;
  bottom: 0px;
  margin-left: 3rem;
  small {
    display: block;
    font-weight: 300;
    color: dimgray;

    &:nth-last-child(1) {
      padding-top: 0.5rem;
      font-size: 12px;
    }
  }
}